*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    // background-color:#f4edff ;
}

// Animation Start

.animation-fadeIn{
    animation: fadeInAnimation ease-in 3s;
    animation-iteration-count: 1;
    animation-fill-mode:backwards;
    
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// .animation-SlideIn{
//     animation: slide 0.5s forwards;
//     animation-delay: 2s;
// }

// @keyframes slide {
//     0%{
//         left:0;
//     }
//     100% { left: 100; }
// }

// Animation End 


// js
.sticky{
    position: fixed;
    width: 100%;
    top:0;
    color: red;
}

body{
    background-color:#f4edff ;
}
.navMain{
    
    position: fixed;
    display: flex;
    align-items: center;
    background-color: #dfd5f8;
    .logo{
        width: 20%;
        font-size: 26px;
        font-family: 'Palette Mosaic', cursive;
        padding: 7px 19px;
        color: #cd6799;
        cursor: pointer;
        }

    .navbar{
        width: 60%;
        align-items: center;
        display: flex;
        justify-content: space-evenly;

        h3{
            font-size: 14px;
            border: 3px solid;
            border-radius: 27px;
            padding: 7px;
            color: #444875;
            background-color: #f4edff;
            font-family: 'Zen Antique', serif;

            &:hover{
                box-shadow: 0px 0px 6px 5px whitesmoke;
                        cursor: pointer;
            }
        }

        
    }

    #mode{
        width: 20%;
        text-align: end;
        margin: auto 18px;

        #color-switcher {
            text-align: right;
        }

        .btn {
            width: 20px;
            height: 20px;
            display: inline-block;
            border: 1px solid grey;
            border-radius: 50%;
            cursor: pointer;
        }


        #default {
            background-color: #f4edff;
        }
        #white {
            background-color: white;
        }

        #black {
            background-color: black;
        }



        // #mode-btn{
        //     border: 3px solid #444875;
        //     border-radius: 27px;
        //     padding: 7px;
        //     color: #444875;
            
        //     .opt-btn{
        //         cursor: pointer;

        //     }

        //     #mode-select{
        //         border-radius: 27px;
        //     }

        //     #mode-dark{
        //         background-color: black;
        //         color: white;
        //     }

        // }


    }


}

#intro{
    display: flex;
    padding: 35px 0px;
    #intro-img{
        width: 50%;
        padding: 14px;
        text-align: center;

        
    }

    #intro-element{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .intro-h3{
        font-size: 28px;
        width: 50%;
        text-align: end;
        color: #303349;
        font-family: cursive;
    }
    .intro-h1{
        font-size: 43px;
        // padding: 2px 0;
        width: 50%;
        text-align: end;
        color: #cd6799;
        font-family: 'Kalam', cursive;
    }
}

#webDev{
    // margin: 30px;
    background-color: #dfd5f8;

    #webDevIcon{
        width: 75%;
        display: flex;
        margin: auto;
            img{
                width: 100%;
                height: 323px;

            }
        }
}


#webdev-project{

    padding: 14px;
    margin: 50px 23px;
    border: 1px solid #ffffff85;
    border-radius: 12px;
    background-color: #cd679957;
    box-shadow: 0px 0px 11px 9px #cd6799;

    .wdp{
        
            border: 4px double;
            border-radius: 7px;
            margin: 10px;
            display: flex;

            // padding-left: 21px;

            .wdp-img-sctn{
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 20px 0px;

                // &::before{
                //     content: " ";
                //     width: 9px;
                //     height: auto;
                //     position: absolute;
                //     top: 0;
                //     background-color: #f5f4f7;
                // }

                // .wdp-circle{
                    
                //     width: 16px;
                //     border-radius: 50%;
                //     height: 18px;
                //     background-color: #dfd5f8;
                //     position: absolute;
                //     left: 65px;
                // }

                .wdp-img-div{
                
                    width: 100%;
                    text-align: center;
                    padding-top: 14px;
                    

                    .wdp-img{
                        width: 80%;
                        height: 382px;
                        border: 2px solid dimgrey;
                        border-radius: 6px;
                        box-shadow: 0px 0px 6px 5px whitesmoke;
                        image-rendering: pixelated;
                        transition: transform .2s;
                        &:hover{
                            cursor: pointer;
                            box-shadow: 0px 0px 6px 5px #ac5555;
                            transform: scale(1.1);
                        }
    
                    }
                }
                

                // .wdp-btn{
                //         padding: 8px;
                //         margin: 13px;
                //         border-radius: 8px;
                //         box-shadow: 0px 0px 6px 5px whitesmoke;
                //         cursor: pointer;
                    
                // }
            }
        
            // detail 

        .wdp-detail{
            width: 50%;
            padding: 58px 16px;

            .wdp-h1{
                    text-align: center;
                    font-family: 'Zen Antique', serif;
            }
            .wdp-detail-elm{
                display: flex;
                // align-items: center;
            }

            .wdp-h3 {
                width: 50%;
                padding: 23px; 
                
                p{
                    font-weight: normal;    
                    padding: 9px 0px;
                }
            }

            .wdp-elm-btn{
                display: flex;
                align-items: center;

                .wdp-btn-div{
                    width: 50%;
                    text-align: center;
                    .wdp-btn{
                        padding: 8px;
                        margin: 13px;
                        border-radius: 8px;
                        box-shadow: 0px 0px 6px 5px whitesmoke;
                        cursor: pointer;

                        &:hover{
                            font-family: 'Zen Antique', serif;
                            font-size: 16px;
                            background-color:whitesmoke;
                            color: #cd6799;;
                        }
                    
                }

                }

            }

        }
    }

    // other section 
    .wdp-other-prj{
        display: flex;
        justify-content: space-evenly;
        padding: 34px 0;
        .wdp-img-div{
            text-align: center;
            width: 100%;
            transition: transform .2s;
                        &:hover{
                            cursor: pointer;
                            // box-shadow: 0px 0px 6px 5px #ac5555;
                            transform: scale(1.3);
                        
                        }

            .wdp-img{
                width: 90%;
                height: 200px;
                // height: 382px;
                border: 2px solid dimgrey;
                border-radius: 6px;
                box-shadow: 0px 0px 6px 5px whitesmoke;
                image-rendering: pixelated;
                
            }

            .wdp-img-elm{
                display: flex;
                padding:15px 0px ;
                flex-direction: column;
                align-items: center;

                // justify-content: space-evenly;
                // align-items: baseline;

                .wdp-img-h2{
                    font-size: 20px;
                    font-family: 'Oswald', sans-serif;
                }
                .wdp-elm-btn{
                    display: flex;
                    align-items: center;
    
                }
            }
        }

        .wdp-btn-div{
            width: 27%;
            // text-align: center;

            .wdp-btn{
                padding: 8px;
                margin: 13px;
                border-radius: 8px;
                box-shadow: 0px 0px 6px 5px whitesmoke;
                cursor: pointer;

                &:hover{
                    font-family: 'Zen Antique', serif;
                    font-size: 16px;
                    background-color:whitesmoke;
                    color: #cd6799;;
                }
            
            }

        }
    }
    

}


#web-design{
    text-align: center;
    background-color: #dfd5f89c;
        .web-design-h1{
            padding: 30px 0;
            font-family: 'Zen Antique', serif;
        }
    .web-design-collection{

        .wd-img{
            width: 50%;
            border: 2px solid dimgrey;
            border-radius: 6px;
            box-shadow: 0px 0px 6px 5px #444875;
            transition: transform .2s;
            &:hover{
                cursor: pointer;
                box-shadow: 0px 0px 6px 5px #ac5555;
                transform: scale(1.1);
            }
        }

    }
}


// Footer 

#footer-main{
    text-align: center;
    padding: 39px 0;
    margin: 30px;
    background-color: #cd6799;
    color: #f4edff;
    border-radius: 8px;

    #foot-h1{
        font-family: 'Palette Mosaic', cursive;
        font-size: 3em;
    }
}

