* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  background-color: #f4edff;
}

.navMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dfd5f8;
}

.navMain .logo {
  width: 20%;
  font-size: 26px;
  font-family: 'Palette Mosaic', cursive;
  padding: 7px 19px;
  color: #cd6799;
}

.navMain .navbar {
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navMain .navbar h3 {
  font-size: 14px;
  border: 3px solid;
  border-radius: 27px;
  padding: 7px;
  color: #444875;
  background-color: #f4edff;
}

.navMain #mode {
  width: 20%;
  text-align: end;
  margin: auto 18px;
}

.navMain #mode #mode-btn {
  border: 3px solid blue;
  border-radius: 27px;
  padding: 7px;
  color: white;
}

#intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 0px;
}

#intro #intro-img {
  width: 50%;
  padding: 14px;
  text-align: center;
}

#intro #intro-element {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#intro .intro-h3 {
  font-size: 28px;
  width: 50%;
  text-align: end;
  color: #303349;
}

#intro .intro-h1 {
  font-size: 43px;
  padding: 2px 0;
  width: 50%;
  text-align: end;
  color: #cd6799;
}

#webDev {
  background-color: #dfd5f8;
}

#webDev #webDevIcon {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

#webDev #webDevIcon img {
  width: 100%;
  height: 323px;
}

#webdev-project {
  padding: 14px;
  margin: 50px 23px;
  border: 1px solid #ffffff85;
  border-radius: 12px;
  background-color: #cd679957;
  -webkit-box-shadow: 0px 0px 11px 9px #cd6799;
          box-shadow: 0px 0px 11px 9px #cd6799;
}

#webdev-project .wdp {
  border: 4px double;
  border-radius: 7px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#webdev-project .wdp .wdp-img-sctn {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
}

#webdev-project .wdp .wdp-img-sctn .wdp-img-div {
  width: 100%;
  text-align: center;
  padding-top: 14px;
}

#webdev-project .wdp .wdp-img-sctn .wdp-img-div .wdp-img {
  width: 80%;
  height: 382px;
  border: 2px solid dimgrey;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 6px 5px whitesmoke;
          box-shadow: 0px 0px 6px 5px whitesmoke;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

#webdev-project .wdp .wdp-detail {
  width: 50%;
  padding: 58px 16px;
}

#webdev-project .wdp .wdp-detail .wdp-h1 {
  text-align: center;
}

#webdev-project .wdp .wdp-detail .wdp-detail-elm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#webdev-project .wdp .wdp-detail .wdp-h3 {
  width: 50%;
  padding: 23px;
}

#webdev-project .wdp .wdp-detail .wdp-h3 p {
  font-weight: normal;
  padding: 9px 0px;
}

#webdev-project .wdp .wdp-detail .wdp-elm-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#webdev-project .wdp .wdp-detail .wdp-elm-btn .wdp-btn-div {
  width: 50%;
  text-align: center;
}

#webdev-project .wdp .wdp-detail .wdp-elm-btn .wdp-btn-div .wdp-btn {
  padding: 8px;
  margin: 13px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 6px 5px whitesmoke;
          box-shadow: 0px 0px 6px 5px whitesmoke;
  cursor: pointer;
}

#webdev-project .wdp-other-prj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 34px 0;
}

#webdev-project .wdp-other-prj .wdp-img-div {
  text-align: center;
  width: 100%;
}

#webdev-project .wdp-other-prj .wdp-img-div .wdp-img {
  width: 90%;
  height: 200px;
  border: 2px solid dimgrey;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 6px 5px whitesmoke;
          box-shadow: 0px 0px 6px 5px whitesmoke;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

#webdev-project .wdp-other-prj .wdp-img-div .wdp-img-elm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#webdev-project .wdp-other-prj .wdp-img-div .wdp-img-elm .wdp-img-h2 {
  font-size: 22px;
}

#webdev-project .wdp-other-prj .wdp-img-div .wdp-img-elm .wdp-elm-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#webdev-project .wdp-other-prj .wdp-btn-div {
  width: 27%;
}

#webdev-project .wdp-other-prj .wdp-btn-div .wdp-btn {
  padding: 8px;
  margin: 13px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 6px 5px whitesmoke;
          box-shadow: 0px 0px 6px 5px whitesmoke;
  cursor: pointer;
}

#web-design {
  text-align: center;
  background-color: #dfd5f89c;
}

#web-design .web-design-h1 {
  padding: 30px 0;
}

#web-design .web-design-collection .wd-img {
  width: 60%;
  border: 2px solid dimgrey;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 6px 5px #444875;
          box-shadow: 0px 0px 6px 5px #444875;
}
/*# sourceMappingURL=index.css.map */